.floating-phrase-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* .floating-phrase-canvas.enabled {
  cursor: url('%PUBLIC_URL%/images/big-cursor.png') 25 25, pointer;
}

.floating-phrase-canvas.disabled {
  cursor: not-allowed;
} */